[submodule "ros/src/msgs/platform_automation_msgs"]
    path = ros/src/msgs/platform_automation_msgs
    url = https://github.com/astuff/platform_automation_msgs.git
[submodule "docker/generic/data"]
    path = docker/generic/data
    url = ../autoware-perception.git
